{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="">
  
    <title> Cửa Hàng Gà Rán </title>
  
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.css" rel="stylesheet">
    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />

</head>

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="{% static 'images/bg-header.jpg' %}" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{% url 'Home' %}">
            <span>
              Cửa Hàng Gà Rán
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Home' %}">TRANG CHỦ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Menu' %}">THỰC ĐƠN</a>
              </li>
            </ul>
            <div class="user_option mx-auto">
              {% if request.session.khachhang_id %}
                <a href="{% url 'Profile' %}" class="user_link">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>
              {% else %}
                <a href="{% url 'Login' %}" class="user_link">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>
              {% endif %}

              {% if request.session.total_quantity %}
              <a href="{% url 'Shoppingcart' %}">
                <i class="fa fa-shopping-cart fa-md" style="color: white"></i>
                <span class="badge rounded-pill badge-notification bg-danger">{{ request.session.total_quantity }}</span>
              </a>
              {% else %}
              <a href="{% url 'Shoppingcart' %}">
                <i class="fa fa-shopping-cart fa-md" style="color: white"></i>
              </a>
              {% endif %}
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

    <!-- modal messages -->
    {% if messages %}
    <div id="messageModal" class="modal fade" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title text-center" id="messageModalLabel">Thông báo</h5>
                </div>
                <div class="modal-body text-center">
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- modal messages -->
  </div>

  <!-- register section -->
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px; background-color: #2C2C2C;">
            <div class="text-center card-body p-4 p-md-5">
              <h2 class="fw-bold text-uppercase text-white pb-2 pb-md-0 mb-md-5">Đăng ký</h2>
              
              <form method="post">
                {% csrf_token%}
                <div class="row">
                  <div class="col-md-10 mb-4">
  
                    <div data-mdb-input-init class="form-outline">
                      <input type="text" id="hoten" class="form-control form-control-lg" name="tenkhachhang"/>
                      <label class="form-label text-white" for="hoten">Họ tên</label>
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 d-flex align-items-center">
  
                    <div data-mdb-input-init class="form-outline datepicker w-100">
                      <input type="date" class="form-control form-control-lg" id="ngaysinh" name="ngaysinh"/>
                      <label for="ngaysinh" class="form-label text-white">Ngày sinh</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <h6 class="mb-2 pb-1 text-white">Giới tính: </h6>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" id="GtNu"
                        value="Nữ" checked name="gioitinh"/>
                      <label class="form-check-label text-white" for="GtNu">Nữ</label>
                    </div>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" id="GtNam"
                        value="Nam" name="gioitinh"/>
                      <label class="form-check-label text-white" for="GtNam">Nam</label>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div data-mdb-input-init class="form-outline">
                      <input type="email" id="emailAddress" class="form-control form-control-lg" name="email" />
                      <label class="form-label text-white" for="emailAddress">Email</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div data-mdb-input-init class="form-outline">
                      <input type="tel" id="sodienthoai" class="form-control form-control-lg" name="sodienthoai"/>
                      <label class="form-label text-white" for="sodienthoai">Số điện thoại</label>
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div data-mdb-input-init class="form-outline">
                      <input type="password" id="password" class="form-control form-control-lg" name="matkhau"/>
                      <label class="form-label text-white" for="password">Mật khẩu</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div data-mdb-input-init class="form-outline">
                      <input type="password" id="passwordConfirm" class="form-control form-control-lg" name="xacnhanmatkhau"/>
                      <label class="form-label text-white" for="passwordConfirm">Xác nhận mật khẩu</label>
                    </div>
  
                  </div>
                </div>
  
                <div class="mt-4 pt-2">
                  <input data-mdb-ripple-init class="btn btn-primary btn-lg" type="submit" value="Đăng Ký" />
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end reigster section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Contact Us
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +01 1234567890
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  demo@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              Feane
            </a>
            <p>
              Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
            </p>
            <div class="footer_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Opening Hours
          </h4>
          <p>
            Everyday
          </p>
          <p>
            10.00 Am -10.00 Pm
          </p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">Free Html Templates</a><br><br>
          &copy; <span id="displayYear"></span> Distributed By
          <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.js"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="{% static 'js/custom.js' %}"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var messageModal = new bootstrap.Modal(document.getElementById('messageModal'));
        if (messageModal) {
            messageModal.show();
        }
    });
  </script>
</body>

</html>